.photo-grid {
  column-count: 3;
  column-gap: 10px;
  max-width: 100%;
  break-inside: avoid;
}

@media (max-width: 767px) {  /* or another breakpoint of your choice */
  .photo-grid {
    column-count: 1;
  }
}

.photo-item {
  display: inline-block;
  width: 100%;
  break-inside: avoid; 
  margin-bottom: 10px;
}

.photo-item img {
  width: 100%;
  height: auto;
  object-fit: cover;
  border: black 10px solid;
}